% rebase('base_admin.html', host=host, site=site, model_name='Galeria')
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">Ações :</div>
                </div>
                <div>
                    <a id="id_add_picture" href="" type="button" class="btn btn-default navbar-btn pull-left">Adicionar Nova Imagem</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row" id="id_picture_list">
% include('pictures_admin_list.html')
    </div>
</div>
<div class="modal fade" id="id_modal_add_picture">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="id_add_picture_form_close" class="close" data-dismiss="modal">x</button>
                <h3>Adicionar Nova Imagem</h3>
            </div>
            <div class="modal-body">
                <form action="" id="id_add_picture_form" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="id_add_picture_upload">Imagem</label>
                        <div class="col-sm-8">
                            <input type="file" id="id_add_picture_upload" name="upload" placeholder="Imagem" required="required" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-sm-4" for="id_add_picture_show_img">Miniatura Imagem:</label>
                        <div class="col-sm-6">
                            <div id="id_add_picture_show_img" style="display: none;"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="id_add_picture_title">Título:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="id_add_picture_title" name="title" placeholder="Coloque o título do imagem" value="Título do Imagem" required="required" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="id_add_picture_description">Descrição:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control input-sm summernote" rows="2" id="id_add_picture_description" name="description" placeholder="Coloque a descrição do imagem" autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8" >
                            <div id="id_add_picture_form_result" style="display: none;" class="alert alert-success" role="alert">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" id="id_add_picture_form_submit" class="btn btn-primary btn-sm pull-right" role="button">Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="id_modal_edit_picture">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="id_edit_picture_form_close" class="close" data-dismiss="modal">x</button>
                <h3>Editar Imagem</h3>
            </div>
            <div class="modal-body">
                <form action="" id="id_edit_picture_form" class="form-horizontal" role="form">
                    <input type="hidden" id="id_edit_picture_id" name="picture" value="-1">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="id_edit_picture_upload">Imagem</label>
                        <div class="col-sm-8">
                            <input type="file" id="id_edit_picture_upload" name="upload" placeholder="Imagem" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-sm-4" for="id_edit_picture_show_img">Miniatura Imagem:</label>
                        <div class="col-sm-6">
                            <div id="id_edit_picture_show_img" style="display: none;"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="id_edit_picture_title">Título:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="id_edit_picture_title" name="title" placeholder="Coloque o título do imagem" value="Título do Imagem" required="required" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="id_edit_picture_description">Descrição:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control input-sm summernote" rows="2" id="id_edit_picture_description" name="description" placeholder="Coloque a descrição do imagem" autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8" >
                            <div id="id_edit_picture_form_result" style="display: none;" class="alert alert-success" role="alert">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" id="id_edit_picture_form_submit" class="btn btn-primary btn-sm pull-right" role="button">Atualizar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_add_picture_upload, #id_edit_picture_upload").tooltip({"trigger": "focus", "title": "Entre com a imagem"});
        $("#id_add_picture_title, #id_edit_picture_title").tooltip({"trigger": "focus", "title": "Entre com o título da imagem"});
        $("#id_add_picture_description, #id_edit_picture_description").tooltip({"trigger": "focus", "title": "Entre com a descrição da imagem"});
        $("#id_add_picture_description, #id_edit_picture_description").summernote({
            height: 70,
            toolbar: [
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['view', ['codeview']],
                ['help', ['help']]
            ],
        });
        $("#id_add_picture").bind( "click", function(event) {
            event.stopPropagation();
            event.preventDefault();
            $("#id_add_picture_upload").val("");
            $("#id_add_picture_title").val("");
            $("#id_add_picture_description").code("");
            $("#id_add_picture_show_img").html("").hide();
            $("#id_modal_add_picture").modal("show");
            return false;
        });
        var formAddData = function() {
            return {
                "site" : "{{site.get_id()}}",
                "user" : "{{site.user.get_id()}}",
                "portfolio" : "{{portfolio.get_id()}}",
                "title" : $("#id_add_picture_title").val(),
                "description" : $("#id_add_picture_description").val(),
                "csrf" : "{{csrf}}",
            };
        };
        defaultUploadFilesSubmit(
            "#id_add_picture_form",
            formAddData,
            "#id_add_picture_form_result",
            "#id_add_picture_show_img",
            "{{host}}/picture/add/",
            function(json) {
                if (json.status) {
                    $("#id_picture_list").html(json.picture_list);
                    setTimeout( function() { $("#id_modal_add_picture").modal('hide'); }, 1500 );
                }
            },
            false
        );
        var formEditData = function() {
            return {
                "site" : "{{site.get_id()}}",
                "user" : "{{site.user.get_id()}}",
                "portfolio" : "{{portfolio.get_id()}}",
                "picture" : $("#id_edit_picture_id").val(),
                "title" : $("#id_edit_picture_title").val(),
                "description" : $("#id_edit_picture_description").val(),
                "csrf" : "{{csrf}}",
            };
        };
        defaultUploadFilesSubmit(
            "#id_edit_picture_form",
            formEditData,
            "#id_edit_picture_form_result",
            "#id_edit_picture_show_img",
            "{{host}}/picture/update/",
            function(json) {
                if (json.status) {
                    $("#id_picture_list").html(json.picture_list);
                }
            },
            false
        );
    });
</script>