<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{site.site_title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{tpl_url}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{tpl_url}}css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{host}}/static/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- OpCMS CSS -->
    <link href="{{host}}/static/css/featherlight.min.css" rel="stylesheet">
    <link href="{{host}}/static/css/opcms.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  {{site.site_title}}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">{{site.page_title}}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#works">Portfólios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{site.site_title}}</h1>
                        <p class="intro-text">{{!site.site_description}}</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{{site.page_title}}</h2>
                <p>{{!site.page_content}}</p>
            </div>
        </div>
    </section>

    <!-- Works Section -->
    <section id="works" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Portfólios</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12" >
                        <div class="row">
% for portfolio in site.portfolios:
                            <div class="col-lg-4 col-md-4 col-xs-6">
                                <div class="thumbnail opcms-thumbnail">
    % if portfolio.pictures.count() > 0:
                                    <a href="#" data-toggle="modal" data-target="#portfolio_modal{{portfolio.id}}">
                                        <img class="img-portfolio img-responsive" src="{{img_url}}{{portfolio.normalized_image}}">
                                    </a>
    % else:
                                    <img class="img-portfolio img-responsive" src="{{img_url}}{{portfolio.normalized_image}}">
    % end
                                    <h4>{{portfolio.title}}</h4>
                                    <p>{{!portfolio.description}}</p>
                                </div>
                            </div>
% end
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="text-center">
        <div class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Contato</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <form id="contact-form">
                            <input type="hidden" id="id_csrf" name="csrf" value="{{csrf}}">
                            <input type="hidden" id="id_site" name="site_id" value="{{site.id}}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Nome</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Seu Nome" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Seu Email" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="subject">Assunto</label>
                                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Assunto" required="required" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Mensagem</label>
                                        <textarea id="message" name="message" class="form-control" rows="9" cols="25" required="required" placeholder="Mensagem"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-8" >
                                    <div id="contact-form-result" style="display: none;" class="alert alert-success" role="alert">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-default btn-lg pull-right" id="btnContactUs">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p>
                            <strong>{{site.site_owner}}</strong><br>
                            Endereço: {{!site.address}}<br>
                            Mapa: <a href="{{site.map_url}}" target="_blank">{{site.map_url}}</a><br>
% for phone in site.phones.split(','):
    % if phone:
                            <i class="fa fa-phone fa-fw"></i> Telefone: {{phone}}<br>
    % end
% end
% for whats_app in site.whats_app_phones.split(','):
    % if whats_app:
                            <i class="fa fa-whatsapp fa-fw"></i> WhatsApp: {{whats_app}}<br>
    % end
% end
                            <a href="mailto:{{site.site_email}}">{{site.site_email}}</a>
                        </p>
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="{{site.twitter_url}}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="{{site.facebook_url}}" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>{{site.site_copyright}}</p>
            <p>
                <a href="https://github.com/jfmedeirosneto/opcms" target="_blank">Site Inovado com One Page CMS &copy; | Acesse e Crie o Seu</a><br>
                <a href="{{tpl_module.link}}" target="_blank">Template: {{tpl_module.name}}</a>
            </p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{tpl_url}}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{tpl_url}}js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{tpl_url}}js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{tpl_url}}js/grayscale.js"></script>

    <!-- OpCMS JavaScript -->
    <script type="text/javascript" src="{{host}}/static/js/featherlight.min.js"></script>
    <script type="text/javascript" src="{{host}}/static/js/opcms.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            defaultFormSubmit(
                "#contact-form",
                "#contact-form-result",
                "{{host}}/contact/",
                function(json) { },
                false
            );
        });
    </script>

<!-- Portfolio Modals -->
% include('templates_portfolios_modal.html')
<!-- /Portfolio Modals -->
</body>

</html>
